<h2>Zoom, Zoom, Zoom!</h2>

<%@images.each do |image|%>
  <%= image_tag image.image_url %>
<%end%>
<%=@image%>

<%= button_to "Zoom 0", @zoom_level%>
<%= button_to "Zoom 1", @article %>
<%= button_to "Zoom 2", @article %>
<%= button_to "Zoom 3", @article %>